<!Doctype html>
<html>
  <header>
    <meta charset="utf-8">
    <title>Bookstore</title>
  </header>
  <body>
    <h1>Book Store</h1>
    <h2>Insert New Book</h2>
    <form action="{% url 'store:insert' %}" method="POST">
      {% csrf_token %}
      Book ID : <input type="number" name="book_id">
      <br><br>
      ISBN : <input type="number" name="isbn">
      <br><br>
      Book Name : <input type="text" name="book_name">
      <br><br>
      Price : <input type="number" name="price">
      <br><br>
      Author : <input type="text" name="author">
      <br><br>
      <input type="submit" value="INSERT">
    </form>
    <table>
      <!-- table header -->
      <tr>
        <th>Book ID</th>
        <th>ISBN</th>
        <th>Book Name</th>
        <th>Price</th>
        <th>Author</th>
        <th></th>
        <th></th>
      </tr>
      <!-- iterating inserting row in table -->
      {% for book in book_list %}
        <tr>
          <form action="{% url 'store:update' %}" method="post">
            {% csrf_token %}
            {% if update_book == book %}
              <td><input type="number" name="book_id" value="{{ book.book_id }}"></td>
              <td><input type="number" name="isbn" value="{{ book.isbn }}"></td>
              <td><input type="text" name="book_name" value="{{ book.book_name }}"></td>
              <td><input type="number" name="price" value="{{ book.price }}"></td>
              <td><input type="text" name="author" value="{{ book.author }}"></td>
            {% else %}
              <td>{{ book.book_id }}</td>
              <td>{{ book.isbn }}</td>
              <td>{{ book.book_name }}</td>
              <td>{{ book.price }}</td>
              <td>{{ book.author }}</td>
            {% endif %}
            <td><button name="book_id_update" value="{{ book.book_id }}">Update</button></td>
          </form>
          <td>
            <form action="{% url 'store:delete' %}" method="post">
              {% csrf_token %}
              <button name="book_id" value="{{ book.book_id }}">Delete</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>
