<!Doctype html>
<html>
  <header>
    <meta charset="utf-8">
    <title>Bookstore</title>
  </header>
  <body>
    <h1>Book Store</h1>
    <h2>Insert New Book</h2>
    <form>
      Book ID : <input type="number">
      <br><br>
      ISBN : <input type="number">
      <br><br>
      Book Name : <input type="text">
      <br><br>
      Price : <input type="number">
      <br><br>
      Author : <input type="text">
      <br><br>
      <input type="submit" value="INSERT">
    </form>
  </body>
</html>
