<!Doctype html>
<html>
  <header>
    <meta charset="utf-8">
    <title>Bookstore</title>
  </header>
  <body>
    <h1>Book Store</h1>
    <h2>Insert New Book</h2>
    <form action="{% url 'store:insert' %}" method="POST">
      {% csrf_token %}
      Book ID : <input type="number" name="book_id">
      <br><br>
      ISBN : <input type="number" name="isbn">
      <br><br>
      Book Name : <input type="text" name="book_name">
      <br><br>
      Price : <input type="number" name="price">
      <br><br>
      Author : <input type="text" name="author">
      <br><br>
      <input type="submit" value="INSERT">
    </form>
  </body>
</html>
